{% extends 'base.html.twig' %}
 
{% block title %}Livres {% endblock %}

{% block body %}                    
    <h1>Livres </h1>
    <div class="text-end upgrade-btn">
        <a href="{{path('livre_new')}}" class="btn btn-danger text-white"> <i class="fa fa-plus-square"></i> Ajouter nouveau Livre</a><br>
    </div> <br> 
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Isbn</th>
                <th>Prix</th>
                <th>Quantité en Stock</th>
                <th>Date d'édition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for i,livre in livres %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.isbn }}</td>
                <td>{{ livre.prix }}</td>
                <td>{{ livre.qteStock }}</td>
                <td>{{ livre.dateEdition ? livre.dateEdition|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}"><i class="mdi mdi-eye"></i></a>
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}"><i class="mdi mdi-pencil-circle"></i></a>
                    <a href="{{ path('livre_delete_2', {'id': livre.id}) }}"><i class="mdi mdi-delete-circle"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'enregistrements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
